<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quá Giới Hạn Yêu Cầu</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Css/ratelimit.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Quá Giới Hạn Yêu Cầu</h1>
        <p>Bạn đã gửi quá nhiều yêu cầu trong một khoảng thời gian ngắn.</p>
        <p>Vui lòng chờ một chút và thử lại sau.</p>
        <a href="/" class="back-button">Quay lại trang chủ</a>
      </div>
    </div>
  </body>
</html>
